.content {
 	width: 60%;
 	margin-left: 20%;
 	margin-top: 3%;
 	font-size: 25px;
}

.aside {
	width: 950px;
	font-weight: 700;
	margin-right: 50%;
    margin-top: 30%
}

p {
	width: 650px;
}

h5 {
	width: 650px;
}

#bg {
        position:fixed;
        z-index: -1;
        top:0;
        left:0; 
        min-width:100%;
        min-height:100%;
}

.EnterPrise {
	width: 60%;
 	margin-left: 40%;
 	margin-top: -35%;
 	font-size: 25px;
}